
/*body {
    background-image: url('../img/fondo_plateado.jpg');
    
}*/

.jumbotron{
    /*Fondo de Jumbotron*/
    background-color: #1FDBD8;
    /*background-image: url('../img/jumbotronback.jpg');*/
    /*Fuente de Jumbotron*/
    color:white;
    width: 500%; /* Ancho del contenedor */
    height: 200px; /* Altura en pixeles del contenedor   */
    max-width:1140px;  /* Largo maximo del contenedor */
}

.panel-heading{
    background-color: #0ABFBC !important;
    color: white !important;
}
 
.panel-body {
    color: #050505 !important;
    
} 

.navbar {
    /*Fondo barra superior*/
    /*background-image: url('../img/jumbotronback.jpg');*/
    background-color: #1FDBD8;
}

.dropdown {
    background-color: #1FDBD8;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #1fdbd8;
}

.dropdown-toggle {
    background-color: #1FDBD8;
}



.navbar-brand:link, .navbar-brand:visited {
    /*Barra superior link visitado*/
    color: white !important;
}

.navbar-brand:hover, .navbar-brand:active {
    /*Al pasar el cursor*/
    color:blue;
}

/*lo de abajo correponde al texto mek s.a*/
#navbar li a:link, #navbar li a:visited {
    color: white !important;
}

#navbar li a:hover, #navbar li a:active {
    /*Al pasar el cursor sobre el submenu o lista*/
    color: #0F02FA !important;
}

.navbar li ul {
    /*Fondo del submenu o lista*/
    background:#1FDBD8;
}

.nav li a:hover {
    color: #434343;
}

.nav li a:hover {
    background-color: red;
}


.navbar li ul :hover{
    /*Fondo del submenu o lista*/
    background-color:white
}




